<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<!-- set param -->
	<!-- base station name -->
	<arg name="ntrip_stream" value="SUWN" />
	<arg name="rtcm_topic1" value="/ublox_gps_rear/rtcm" />
	<arg name="is_two_gps_module" value="True" />
	<arg name="rtcm_topic2" value="/ublox_gps_front/rtcm" />

	<!-- Do Not Change Below -->
	<!-- rtcm 31 node -->
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros31"
		  output="screen" 
		  respawn="true" 
		  respawn_delay="30">
		<param name="rtcm_topic1" value="$(arg rtcm_topic1)" />
		<param name="is_two_gps_module" value="$(arg is_two_gps_module)" />
		<param name="rtcm_topic2" value="$(arg rtcm_topic2)" />
		<param name="ntrip_version" value="31"/>
		<param name="ntrip_stream" value="$(arg ntrip_stream)-RTCM31"/>
		<rosparam command="load" 
				file="$(find ntrip_ros)/config/ID.yaml" />
		<rosparam command="load" 
				file="$(find ntrip_ros)/config/$(arg ntrip_stream).yaml" />
	</node>
	
	<!-- rtcm 32 node -->
	<node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros32"
		  output="screen" 
		  respawn="true" 
		  respawn_delay="30">
		<param name="rtcm_topic1" value="$(arg rtcm_topic1)" />
		<param name="is_two_gps_module" value="$(arg is_two_gps_module)" />
		<param name="rtcm_topic2" value="$(arg rtcm_topic2)" />
		<param name="ntrip_version" value="32"/>
		<param name="ntrip_stream" value="$(arg ntrip_stream)-RTCM32"/>
		<rosparam command="load" 
				file="$(find ntrip_ros)/config/ID.yaml" />
		<rosparam command="load" 
				file="$(find ntrip_ros)/config/$(arg ntrip_stream).yaml" />
	</node>

</launch>